* {
    font-family: sans-serif;
    background: #232323;
    color: #BBBBBB;
    font-size: 10pt;
    overflow: hidden;
}

#extensions {
    width: 100%;
    height: 100%;
    margin: 5pt;
}

button {
    display: inline-block;
    border-color: #161616;
    border-width: 1px;
    border-radius: 5%;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.1s;
    text-shadow:1px 1px 3px #1d1d1d;
    box-shadow: none;
    height: 15pt;
}

.btnMain {
    width: 70%;
    margin: 0;
    padding: 0;
}

.btnFolder {
    margin: 0 0 0 3pt;
    padding: 0;
    width: 15pt;
    height: 15pt;
}

button img {
    padding: 0;
    margin: 0;
    height: 90%;
}

button:hover {
    background: #2A2A2A;
}